body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color : white;
    padding: 0px;
    margin: 0px;
}
navbar{
    width : 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    height : 8vh;
    background-color:#fcaf02;
   flex : 1;
   color : black;
   position: sticky;
   top:0px; 

}
#nav{
    display: flex;
    flex:5;
    justify-content: end;
    background-color: #fcaf02;
    
}
#nav>p{
    margin-inline: 50px;
}

#intro{
    display: flex;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
}
#intro-1{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
#intro-1>h1{
    font-size:40px;
    font-weight: 900;
}

#intro-1>button{
    background-color: #fcaf02;
    width : 180px;
    height : 40px;
    border-radius : 30px;
    font-weight: bolder;
}
#contact>h2{
    margin-left: 120px;
    color :#fcaf02;
    font-size: 40px;
    font-weight: 900;
}
form{
    text-align: center;
    width : 100vw;
    margin: 20px;
}
form>input{
    color :#fcaf02;
    border-color: #fcaf02;
    border-radius: 50px;
    background-color: black;
    padding-left: 20px;
    height : 50px;
    margin-right: 50px;
}
input:focus{
    outline: none;
}
::placeholder{
    color :#fcaf02;
}
#input-1 , #input-2{
     width : 80%;
}
#input-3 , #input-4{
    width : 36%;
}
#input-4{
    margin-left: 20px;
}
form>input>::placeholder{
    color :#fcaf02;
}
form>button{
    background-color: #fcaf02;
    height : 50px;
    width : 200px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
}
button:hover{
    background-color: white;
}
#intro-1>button:hover{
    background-color: white;
}
table{
    color :#fcaf02;
    border-collapse: collapse;
    width : 80%;
    margin-left: 10% ;
    margin-top: 50px;
    margin-bottom: 50px;
}
th ,tbody,tfoot{
    border: 1px solid #fcaf02;
}
td{
    border-left:1px solid  #fcaf02;
   padding-left: 40px;
}
tr{
    height : 60px;
}
th{
    text-align: left;
    padding-left: 40px;
}
tfoot{
    background-color: #fcaf02;
    color : black;
}
.td1{
    border-right: 1px solid black;
}
@media screen and (min-width : 1400px){
    #nav{
        width : 94vw;
    }
}